@model OtoServisSatis.Entities.Slider

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h5><strong class="text-danger">UYARI!!</strong> Resim bilgileri silinecektir. Silmek istediğinize emin misiniz?</h5>
<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acikalama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acikalama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-danger">Geri Dön</a>
    </form>
</div>
