@model IEnumerable<OtoServisSatis.Entities.Satis>

@{
    ViewData["Title"] = "Index";
}

<h3 class="my-3 text-danger">Satış Listesi</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SatisFiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musteri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SatisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arac.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.Adi)   @Html.DisplayFor(modelItem => item.Musteri.Soyadi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Düzenle <i class="bi bi-pencil"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Yeni Satış Ekle <i class="bi bi-database"></i></a>