@model OtoServisSatis.Entities.Kullanici

@{
    ViewData["Title"] = "Delete";
}



<h5 class=""> <strong class="text-danger">UYARI!!!</strong> Kullanıcı Bilgilerini Silmek İstiyor Musunuz?</h5>
<div>
    <dl class="row">
        <dt class = "col-sm-2"> @Html.DisplayNameFor(model => model.Ad) </dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Ad) </dd>
        <dt class = "col-sm-2"> @Html.DisplayNameFor(model => model.Soyad)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Soyad)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Email) </dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Email) </dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Telefon)</dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Telefon) </dd>
        <dt class = "col-sm-2"> @Html.DisplayNameFor(model => model.KullaniciAdi) </dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.KullaniciAdi) </dd>
        <dt class = "col-sm-2"> @Html.DisplayNameFor(model => model.Sifre) </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Sifre) </dd>
        <dt class = "col-sm-2"> @Html.DisplayNameFor(model => model.AktifMi) </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.AktifMi)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Rol) </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Rol.Adi)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kullanıcı Bilgilerini Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
    </form>
</div>
