@model OtoServisSatis.Entities.Iletisim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Konu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Açıklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Açıklama)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index" class="btn btn-danger">Geri Dön</a>
</div>
